
<body>
    <div class="filter mt-2 text-center position-fixed">
        <div class="button">
            <button type="button" class="btn btn-dark mb-2 mt-2" (click)="backToMyReceipts()">Back to my receipts</button>&nbsp;
        </div>
    </div>
    <div class="container-fluid">
        <div class="container text-center">
            <div class="table-responsive mt-3">
                <table class="table table-bordered table-hover text-center">
                    <tbody>
                        <tr>
                            <th>Client name</th>
                            <td>{{clientReceipt?.clientName}}</td>
                        </tr>
                        <tr>
                            <th>Client phone number</th>
                            <td>{{clientReceipt?.clientPhoneNumber}}</td>
                        </tr>
                        <tr>
                            <th>Client email</th>
                            <td>{{clientReceipt?.clientEmail}}</td>
                        </tr>
                        <tr>
                            <th>Receipt Date</th>
                            <td>{{clientReceipt?.receiptDate}}</td>
                        </tr>
                        <tr>
                            <th>Car number</th>
                            <td>{{clientReceipt?.carNumber}}</td>
                        </tr>
                        <tr>
                            <th>Car color</th>
                            <td>{{clientReceipt?.carColor}}</td>
                        </tr>
                        <tr>
                            <th>Car type</th>
                            <td>{{clientReceipt?.carType}}</td>
                        </tr>
                        <tr>
                            <th>Car price</th>
                            <td>&#36;{{clientReceipt?.carPrice}}</td>
                        </tr>
                        <tr>
                            <th>Image for familiarize only</th>
                            <td>
                                <a href="/assets/images/CARS/{{clientReceipt?.carType}}.jpg" target="blank">
                                <img src="/assets/images/CARS/{{clientReceipt?.carType}}.jpg" width="150" height="90">
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
