
<body>
    <div class="filter mt-2 text-center position-fixed">
        <div class="button">
            <button type="button" class="btn btn-dark mb-2 mt-2" (click)="backToMainPage()">Back to Main Page</button>&nbsp;
            <button type="button" class="btn btn-danger mb-2 mt-2" (click)="deleteAccount()">Delete Account</button>&nbsp;
        </div>
        <p style="font-size: 50px;">😢
            <a routerLink="/home" routerLinkActive="active-link">
                <span style="font-size: 50px;">Please stay with us</span>
            </a>&nbsp;&#10084;
        </p>
    </div>
</body>
<router-outlet></router-outlet>
