
<body>
    <div class="filter mt-2 text-center position-fixed">
        <div class="button">
            <button type="button" class="btn btn-dark mb-2 mt-2" (click)="backToAdmin()">Back to admin page</button>
        </div>
        <input type='text' [(ngModel)] = 'listFilter' id="name" placeholder="Filter by name">
        <h4>Filtered by: {{listFilter}}</h4>
    </div>
    <div class="container-fluid">
        <div class="container">
            <div class="table-responsive mt-3">
                <h1 *ngIf="!clients" class="text-center">No Clients</h1>
                <img *ngIf="!clients" src="/assets/images/loadingGifTransparant1.gif">
                <div *ngIf="clients">
                    <table class="table table-bordered table-hover text-center">
                        <thead>
                            <tr class="table-primary">
                                <th>ID</th>
                                <th>Name</th>
                                <th>DOB</th>
                                <th>Phone number</th>
                                <th>Email</th>
                                <th>Password</th>
                                <th>Balance</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let c of clients | clientFilter: listFilter">
                                <td class="table-dark">{{c.id}}</td>
                                <td class="table-secondary">
                                    <a routerLink="../view-all-clients/client-details/{{c.id}}" routerLinkActive="active-link">
                                        {{c.name}}
                                    </a>
                                </td>
                                <td>{{c.birthday}}</td>
                                <td>{{c.phoneNumber}}</td>
                                <td>{{c.email}}</td>
                                <td>{{c.password}}</td>
                                <td>&#36;{{c.balance}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
<router-outlet></router-outlet>
