<!-- <p>view-all-receipts-by-date-until works!</p> -->

<!-- <body>
    <div class="filter mt-2 text-center position-fixed">
        <div class="button">
            <button type="button" class="btn btn-dark mb-2 mt-2" (click)="backToMainPage()">Back to Main Page</button>&nbsp;
            <button [disabled]="!formInfo.form.valid" type="submit" class="btn btn-primary"  (click)="getAllReceiptsByDate(this.clientReceipt.receiptDate)">Get All Receipts By Date (until)</button>&nbsp;
            <button [disabled]="!formInfo.form.valid" type="button" class='btn btn-light mb-2 mt-2' (click) = "toggleImage()" >
                {{showImage ? 'Hide': 'Show'}} Image
            </button>
        </div>
        <div class="container-fluid">
            <form  #formInfo="ngForm" class="needs-validation" novalidate  #f="ngForm"  action="view-all-receipts-by-date-until" method=post>
                <div class="form-group text-center justify-content-center">
                    <label for="exampleInputReceiptDate"><h4>Receipt Date</h4></label>&nbsp;
                    <button type="reset" class="btn btn-outline-light" style="height: 40px;">Reset</button>
                    <input type="datetime-local" class="form-control" id="exampleInputReceiptDate" value="" min="1900-01-01" max="2150-12-31" [(ngModel)]="clientReceipt.receiptDate" name="receiptDate" required>
                </div>
            </form>
        </div>
    </div>
    <div class="container-fluid">
        <div class="container">
            <div class="table-responsive mt-3">
                <div *ngIf="clientReceipts">
                    <table class="table table-bordered table-hover text-center">
                        <thead>
                            <tr class="table-primary">
                                <th>Client ID</th>
                                <th>Receipt ID</th>
                                <th>Client Name</th>
                                <th>Client Phone Number</th>
                                <th>Client Email</th>
                                <th>Receipt Date</th>
                                <th>Car ID</th>
                                <th>Car Number</th>
                                <th>Car Color</th>
                                <th>Car Type</th>
                                <th>Car Price</th>
                                <th *ngIf="showImage">Image for familiarize only</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cr of clientReceipts">
                                <td class="table-dark">{{cr.clientId}}</td>
                                <td class="table-dark">{{cr.receiptId}}</td>
                                <td>{{cr.clientName}}</td>
                                <td>{{cr.clientPhoneNumber}}</td>
                                <td>{{cr.clientEmail}}</td>
                                <td class="table-secondary">
                                    <a routerLink="../view-all-receipts-by-date-until/details-receipt/{{cr.receiptId}}" routerLinkActive="active-link">
                                        {{cr.receiptDate}}
                                    </a>
                                </td>
                                <td>{{cr.carId}}</td>
                                <td>{{cr.carNumber}}</td>
                                <td>{{cr.carColor}}</td>
                                <td>{{cr.carType}}</td>
                                <td>{{cr.carPrice}}</td>
                                <td *ngIf="showImage">
                                    <a href="/assets/images/CARS/{{cr.carType}}.jpg" target="blank">
                                    <img src="/assets/images/CARS/{{cr.carType}}.jpg" width="150" height="90" class="mt-0 ml-0">
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
<router-outlet></router-outlet> -->
