<!-- <p>car-details works!</p> -->

<body>
    <div class="filter mt-2 text-center position-fixed">
        <div class="button">
            <button type="button" class="btn btn-dark mb-2 mt-2" (click)="backToAllCars()">Back to all cars</button>
        </div>
    </div>
    <div class="container-fluid">
        <div class="container text-center">
            <!-- <div class="details"> do not delete
                <h3>ID: {{car?.id}}</h3>
                <h3>Number: {{car?.number}}</h3>
                <h3>Color: {{car?.color}}</h3>
                <h3>Type: {{car?.type}}</h3>
                <h3>Amount: {{car?.amount}}</h3>
                <h3>Price: {{car?.price}}</h3>
                <h3> <img src="/assets/images/CARS/{{car?.type}}.jpg"></h3>
            </div> -->
            <div class="table-responsive mt-3">
                <table class="table table-bordered table-hover text-center">
                    <tbody>
                        <tr>
                            <th>ID</th>
                            <td>{{car?.id}}</td>
                        </tr>
                        <tr>
                            <th>Number</th>
                            <td>{{car?.number}}</td>
                        </tr>
                        <tr>
                            <th>Color</th>
                            <td>{{car?.color}}</td>
                        </tr>
                        <tr>
                            <th>Type</th>
                            <td>{{car?.type}}</td>
                        </tr>
                        <tr>
                            <th>Amount</th>
                            <td>{{car?.amount}}</td>
                        </tr>
                        <tr>
                            <th>Price</th>
                            <td>&#36;{{car?.price}}</td>
                        </tr>
                        <tr>
                            <th>Image for familiarize only</th>
                            <td>
                                <a href="/assets/images/CARS/{{car?.type}}.jpg" target="blank">
                                <img src="/assets/images/CARS/{{car?.type}}.jpg" width="150" height="90">
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
