<!-- <p>delete-car works!</p> -->

<body>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Delete Car</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form  #formInfo="ngForm" class="needs-validation" novalidate  action="delete-car" method=post>
                        <div class="form-group">
                            <label for="exampleInputId">Enter car ID and then click on View Car button</label>
                            <input type="number" class="form-control" id="exampleInputId" min="1" placeholder="ID" [(ngModel)]="car.id" ngModel name="id" autofocus required oninput="validity.valid||(value='');">
                            <!-- <div class="valid-feedback">
                                Looks good!
                            </div> -->
                            <div class="invalid-feedback">
                                Please enter a car ID and then click on View Car button.
                            </div>
                        </div> 
                        <button type="submit" class="btn btn-primary" [disabled]="!formInfo.form.valid" (click)="getCar()">View Car</button><br><br>
                        <button type="reset" class="btn btn-outline-secondary">Reset</button>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">Cancel</button>
                            <button type="submit" class="btn btn-danger" [disabled]="!formInfo.form.valid" (click)="deleteCar()">Delete Car</button>
                        </div>
                    </form>
                    <div class="table-responsive mt-3">
                        <table class="table table-bordered table-hover text-center">
                            <tbody>
                                <tr>
                                    <th>ID</th>
                                    <td>{{car.id}}</td>
                                </tr>
                                <tr>
                                    <th>Number</th>
                                    <td>{{car.number}}</td>
                                </tr>
                                <tr>
                                    <th>Color</th>
                                    <td>{{car.color}}</td>
                                </tr>
                                <tr>
                                    <th>Type</th>
                                    <td>{{car.type}}</td>
                                </tr>
                                <tr>
                                    <th>Amount</th>
                                    <td>{{car.amount}}</td>
                                </tr>
                                <tr>
                                    <th>Price</th>
                                    <td>&#36;{{car.price}}</td>
                                </tr>
                                <tr>
                                    <th>Image for familiarize only</th>
                                    <td><img src="/assets/images/CARS/{{car.type}}.jpg" width="150" height="90" class="mt-0 ml-0"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
