
<body>
    <div class="filter mt-2 text-center position-fixed">
        <div class="button">
            <button type="button" class="btn btn-dark mb-2 mt-2" (click)="backToMainPage()">Back to Main Page</button>&nbsp;
        </div>
        <input type='text' [(ngModel)] = 'listFilter' id="type" placeholder="Filter by Receipt Date">
        <h4>Filtered by: {{listFilter}}</h4>
    </div>
    <div class="container-fluid">
        <div class="container">
            <div class="table-responsive mt-3">
                <h1 *ngIf="!clientReceipts" class="text-center">No Receipts</h1>
                <img *ngIf="!clientReceipts" src="/assets/images/loadingGifTransparant1.gif">
                <div *ngIf="clientReceipts">
                    <table class="table table-bordered table-hover text-center">
                        <thead>
                            <tr class="table-primary">
                                <th>Client Name</th>
                                <th>Client Phone Number</th>
                                <th>Client Email</th>
                                <th>Receipt Date</th>
                                <th>Car Number</th>
                                <th>Car Color</th>
                                <th>Car Type</th>
                                <th>Car Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cr of clientReceipts | clientReceiptDateFilter: listFilter">
                                <td>{{cr.clientName}}</td>
                                <td>{{cr.clientPhoneNumber}}</td>
                                <td>{{cr.clientEmail}}</td>
                                <td class="table-secondary">
                                    <a routerLink="../view-my-receipts/details-receipt/{{cr.receiptId}}" routerLinkActive="active-link">
                                        {{cr.receiptDate}}
                                    </a>
                                </td>
                                <td>{{cr.carNumber}}</td>
                                <td>{{cr.carColor}}</td>
                                <td>{{cr.carType}}</td>
                                <td>&#36;{{cr.carPrice}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
<router-outlet></router-outlet>
