<!-- <p>view-my-receipts works!</p> -->

<body>
    <div class="filter mt-2 text-center position-fixed">
        <div class="button">
            <button type="button" class="btn btn-dark mb-2 mt-2" (click)="backToMainPage()">Back to Main Page</button>&nbsp;
            <!-- <button type="button" class='btn btn-light mb-2 mt-2' (click) = "toggleImage()" >
                {{showImage ? 'Hide': 'Show'}} Image
            </button> -->
        </div>
        <input type='text' [(ngModel)] = 'listFilter' id="type" placeholder="Filter by Receipt Date">
        <h4>Filtered by: {{listFilter}}</h4>
    </div>
    <div class="container-fluid">
        <div class="container">
            <div class="table-responsive mt-3">
                <img *ngIf="!clientReceipts" src="/assets/images/loadingGifTransparant1.gif">
                <div *ngIf="clientReceipts">
                    <table class="table table-bordered table-hover text-center">
                        <thead>
                            <tr class="table-primary">
                                <!-- <th>Client ID</th> -->
                                <!-- <th>Receipt ID</th> -->
                                <th>Client Name</th>
                                <th>Client Phone Number</th>
                                <th>Client Email</th>
                                <th>Receipt Date</th>
                                <!-- <th>Car ID</th> -->
                                <th>Car Number</th>
                                <th>Car Color</th>
                                <th>Car Type</th>
                                <th>Car Price</th>
                                <!-- <th *ngIf="showImage">Image for familiarize only</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cr of clientReceipts | clientReceiptDateFilter: listFilter">
                                <!-- <td class="table-dark">{{cr.clientId}}</td> -->
                                <!-- <td class="table-secondary">{{cr.receiptId}}</td> -->
                                <td>{{cr.clientName}}</td>
                                <td>{{cr.clientPhoneNumber}}</td>
                                <td>{{cr.clientEmail}}</td>
                                <td class="table-secondary">
                                    <a routerLink="../view-my-receipts/details-receipt/{{cr.receiptId}}" routerLinkActive="active-link">
                                        {{cr.receiptDate}}
                                    </a>
                                </td>
                                <!-- <td>{{cr.carId}}</td> -->
                                <td>{{cr.carNumber}}</td>
                                <td>{{cr.carColor}}</td>
                                <td>{{cr.carType}}</td>
                                <td>&#36;{{cr.carPrice}}</td>
                                <!-- <td *ngIf="showImage">
                                    <a href="/assets/images/CARS/{{cr.carType}}.jpg" target="blank">
                                    <img src="/assets/images/CARS/{{cr.carType}}.jpg" width="150" height="90" class="mt-0 ml-0">
                                    </a>
                                </td> -->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
<router-outlet></router-outlet>
