body {
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("/assets/images/home-carousel-slide/2019_bugatti_divo_1_1920x1080.jpg") no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: auto;
    height: 100%;
    width: 100%;
}

.btn {
    position: relative;
  }

.filter {
    position: sticky;
    background-color:gray;
    width: 100%;
}

/* .details { do not delete
    margin-top: 10%;
    background-color: seashell;
} */

table {
    margin-top: 5%;
}

td, th {
    color: white;
}
